<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./resumo.component.css" rel="stylesheet">
    <link href="/Portifolio/src/assets/respansive.css" rel="stylesheet">
    <title>Portfólio Mateus</title>
</head>

<body>

    <main>
        <aside>
            <article>
                <img id="FotoMateus" src="assets/FotoMateus.jpg" alt="FotoMateus">
            </article>
            <div id="NomeEcargo">
                <h2 id="Nome">Mateus Oliveira</h2>
                <p>Desenvolvedor de sistemas</p>
            </div>

        <!--   <form>
                <h3 id="EntreEmContato">Entre em contato</h3>
                <input class="input Nome" type="text" placeholder="Digite seu Nome">
                <input class="input Email" type="email" placeholder="Digite seu email">
                <input class="input" id="submitBtn" type="button" value="Confirmar">
            </form>--> 
        </aside>

        <aside id="sobre">
            <article></article>
            <h4>Discover</h4>
            <h1>About</h1>
            <p>Formado em administração de empresas e cusando análise e desenvolvimento de sistemas.
                 A minha primeira experiencia com a programação foi criando um pequeno projeto de automação
                  de trarefas em python, utilizando a biblioteca selenion que serviu para economizar tempo na
                   extração de dados do sistema da empresa e tomar um café enquanto isso. Depois de um bom tempo
                    voltei para esse mundo da programação com o BootCamp do programa start da multinacional Capgemini,
                     onde que desenvolvi habilidades de lógica e programação em JAVA.</p>
        </aside>

    </main>

</body>

</html>
